In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("fuel.csv")

<ipython-input-2-b3a57def2abe>:1: DtypeWarning: Columns (7,44) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("fuel.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 81 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         38113 non-null  int64
 1   year                               38113 non-null  int64
 2   make                               38113 non-null  object
 3   model                              38113 non-null  object
 4   class                              38113 non-null  object
 5   drive                              36924 non-null  object
 6   transmission                       38102 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       38113 non-null  int64
 9   engine_descriptor                  22693 non-null  object
 10  engine_cylinders                   37977 non-null  float64
 11  engine_displacement                37979 non-null  float64
 12  turbocharger                       5239 non-null   object
 13  supercharger                       0 non-null      float64
 14  fuel_type                          38113 non-null  object
 15  fuel_type_1                        38113 non-null  object
 16  fuel_type_2                        0 non-null      float64
 17  city_mpg_ft1                       38113 non-null  int64
 18  unrounded_city_mpg_ft1             38113 non-null  float64
 19  city_mpg_ft2                       38113 non-null  int64
 20  unrounded_city_mpg_ft2             38113 non-null  float64
 21  city_gasoline_consumption_cd       38113 non-null  float64
 22  city_electricity_consumption       38113 non-null  float64
 23  city_utility_factor                38113 non-null  float64
 24  highway_mpg_ft1                    38113 non-null  int64
 25  unrounded_highway_mpg_ft1          38113 non-null  float64
 26  highway_mpg_ft2                    38113 non-null  int64
 27  unrounded_highway_mpg_ft2          38113 non-null  float64
 28  highway_gasoline_consumption_cd    38113 non-null  float64
 29  highway_electricity_consumption    38113 non-null  float64
 30  highway_utility_factor             38113 non-null  float64
 31  unadjusted_city_mpg_ft1            38113 non-null  float64
 32  unadjusted_highway_mpg_ft1         38113 non-null  float64
 33  unadjusted_city_mpg_ft2            38113 non-null  float64
 34  unadjusted_highway_mpg_ft2         38113 non-null  float64
 35  combined_mpg_ft1                   38113 non-null  int64
 36  unrounded_combined_mpg_ft1         38113 non-null  float64
 37  combined_mpg_ft2                   38113 non-null  int64
 38  unrounded_combined_mpg_ft2         38113 non-null  float64
 39  combined_electricity_consumption   38113 non-null  float64
 40  combined_gasoline_consumption_cd   38113 non-null  float64
 41  combined_utility_factor            38113 non-null  float64
 42  annual_fuel_cost_ft1               38113 non-null  int64
 43  annual_fuel_cost_ft2               38113 non-null  int64
 44  gas_guzzler_tax                    964 non-null    object
 45  save_or_spend_5_year               38113 non-null  int64
 46  annual_consumption_in_barrels_ft1  38113 non-null  float64
 47  annual_consumption_in_barrels_ft2  38113 non-null  float64
 48  tailpipe_co2_ft1                   38113 non-null  int64
 49  tailpipe_co2_in_grams_mile_ft1     38113 non-null  float64
 50  tailpipe_co2_ft2                   38113 non-null  int64
 51  tailpipe_co2_in_grams_mile_ft2     38113 non-null  float64
 52  fuel_economy_score                 38113 non-null  int64
 53  ghg_score                          38113 non-null  int64
 54  ghg_score_alt_fuel                 38113 non-null  int64
 55  my_mpg_data                        38113 non-null  object
 56  x2d_passenger_volume               38113 non-null  int64
 57  x2d_luggage_volume                 38113 non-null  int64
 58  x4d_passenger_volume               38113 non-null  int64
 59  x4d_luggage_volume                 38113 non-null  int64
 60  hatchback_passenger_volume         38113 non-null  int64
 61  hatchback_luggage_volume           38113 non-null  int64
 62  start_stop_technology              0 non-null      float64
 63  alternative_fuel_technology        3047 non-null   object
 64  electric_motor                     0 non-null      float64
 65  manufacturer_code                  0 non-null      float64
 66  gasoline_electricity_blended_cd    38113 non-null  bool
 67  vehicle_charger                    0 non-null      float64
 68  alternate_charger                  0 non-null      float64
 69  hours_to_charge_120v               38113 non-null  int64
 70  hours_to_charge_240v               38113 non-null  float64
 71  hours_to_charge_ac_240v            38113 non-null  float64
 72  composite_city_mpg                 38113 non-null  int64
 73  composite_highway_mpg              38113 non-null  int64
 74  composite_combined_mpg             38113 non-null  int64
 75  range_ft1                          38113 non-null  int64
 76  city_range_ft1                     38113 non-null  float64
 77  highway_range_ft1                  38113 non-null  float64
 78  range_ft2                          0 non-null      float64
 79  city_range_ft2                     38113 non-null  float64
 80  highway_range_ft2                  38113 non-null  float64
dtypes: bool(1), float64(39), int64(28), object(13)
memory usage: 23.3+ MB

In [4]:
data = data.dropna(axis=1,how='all') # Cancellazione delle colonne nulle

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 73 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         38113 non-null  int64
 1   year                               38113 non-null  int64
 2   make                               38113 non-null  object
 3   model                              38113 non-null  object
 4   class                              38113 non-null  object
 5   drive                              36924 non-null  object
 6   transmission                       38102 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       38113 non-null  int64
 9   engine_descriptor                  22693 non-null  object
 10  engine_cylinders                   37977 non-null  float64
 11  engine_displacement                37979 non-null  float64
 12  turbocharger                       5239 non-null   object
 13  fuel_type                          38113 non-null  object
 14  fuel_type_1                        38113 non-null  object
 15  city_mpg_ft1                       38113 non-null  int64
 16  unrounded_city_mpg_ft1             38113 non-null  float64
 17  city_mpg_ft2                       38113 non-null  int64
 18  unrounded_city_mpg_ft2             38113 non-null  float64
 19  city_gasoline_consumption_cd       38113 non-null  float64
 20  city_electricity_consumption       38113 non-null  float64
 21  city_utility_factor                38113 non-null  float64
 22  highway_mpg_ft1                    38113 non-null  int64
 23  unrounded_highway_mpg_ft1          38113 non-null  float64
 24  highway_mpg_ft2                    38113 non-null  int64
 25  unrounded_highway_mpg_ft2          38113 non-null  float64
 26  highway_gasoline_consumption_cd    38113 non-null  float64
 27  highway_electricity_consumption    38113 non-null  float64
 28  highway_utility_factor             38113 non-null  float64
 29  unadjusted_city_mpg_ft1            38113 non-null  float64
 30  unadjusted_highway_mpg_ft1         38113 non-null  float64
 31  unadjusted_city_mpg_ft2            38113 non-null  float64
 32  unadjusted_highway_mpg_ft2         38113 non-null  float64
 33  combined_mpg_ft1                   38113 non-null  int64
 34  unrounded_combined_mpg_ft1         38113 non-null  float64
 35  combined_mpg_ft2                   38113 non-null  int64
 36  unrounded_combined_mpg_ft2         38113 non-null  float64
 37  combined_electricity_consumption   38113 non-null  float64
 38  combined_gasoline_consumption_cd   38113 non-null  float64
 39  combined_utility_factor            38113 non-null  float64
 40  annual_fuel_cost_ft1               38113 non-null  int64
 41  annual_fuel_cost_ft2               38113 non-null  int64
 42  gas_guzzler_tax                    964 non-null    object
 43  save_or_spend_5_year               38113 non-null  int64
 44  annual_consumption_in_barrels_ft1  38113 non-null  float64
 45  annual_consumption_in_barrels_ft2  38113 non-null  float64
 46  tailpipe_co2_ft1                   38113 non-null  int64
 47  tailpipe_co2_in_grams_mile_ft1     38113 non-null  float64
 48  tailpipe_co2_ft2                   38113 non-null  int64
 49  tailpipe_co2_in_grams_mile_ft2     38113 non-null  float64
 50  fuel_economy_score                 38113 non-null  int64
 51  ghg_score                          38113 non-null  int64
 52  ghg_score_alt_fuel                 38113 non-null  int64
 53  my_mpg_data                        38113 non-null  object
 54  x2d_passenger_volume               38113 non-null  int64
 55  x2d_luggage_volume                 38113 non-null  int64
 56  x4d_passenger_volume               38113 non-null  int64
 57  x4d_luggage_volume                 38113 non-null  int64
 58  hatchback_passenger_volume         38113 non-null  int64
 59  hatchback_luggage_volume           38113 non-null  int64
 60  alternative_fuel_technology        3047 non-null   object
 61  gasoline_electricity_blended_cd    38113 non-null  bool
 62  hours_to_charge_120v               38113 non-null  int64
 63  hours_to_charge_240v               38113 non-null  float64
 64  hours_to_charge_ac_240v            38113 non-null  float64
 65  composite_city_mpg                 38113 non-null  int64
 66  composite_highway_mpg              38113 non-null  int64
 67  composite_combined_mpg             38113 non-null  int64
 68  range_ft1                          38113 non-null  int64
 69  city_range_ft1                     38113 non-null  float64
 70  highway_range_ft1                  38113 non-null  float64
 71  city_range_ft2                     38113 non-null  float64
 72  highway_range_ft2                  38113 non-null  float64
dtypes: bool(1), float64(31), int64(28), object(13)
memory usage: 21.0+ MB

In [6]:
data.columns[data.isnull().any()] #Colonne con valori nulli

Index(['drive', 'transmission', 'transmission_type', 'engine_descriptor',
       'engine_cylinders', 'engine_displacement', 'turbocharger',
       'gas_guzzler_tax', 'alternative_fuel_technology'],
      dtype='object')

In [7]:
data = data.drop('gas_guzzler_tax', axis=1) #Tassa americana, non serve

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 72 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         38113 non-null  int64
 1   year                               38113 non-null  int64
 2   make                               38113 non-null  object
 3   model                              38113 non-null  object
 4   class                              38113 non-null  object
 5   drive                              36924 non-null  object
 6   transmission                       38102 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       38113 non-null  int64
 9   engine_descriptor                  22693 non-null  object
 10  engine_cylinders                   37977 non-null  float64
 11  engine_displacement                37979 non-null  float64
 12  turbocharger                       5239 non-null   object
 13  fuel_type                          38113 non-null  object
 14  fuel_type_1                        38113 non-null  object
 15  city_mpg_ft1                       38113 non-null  int64
 16  unrounded_city_mpg_ft1             38113 non-null  float64
 17  city_mpg_ft2                       38113 non-null  int64
 18  unrounded_city_mpg_ft2             38113 non-null  float64
 19  city_gasoline_consumption_cd       38113 non-null  float64
 20  city_electricity_consumption       38113 non-null  float64
 21  city_utility_factor                38113 non-null  float64
 22  highway_mpg_ft1                    38113 non-null  int64
 23  unrounded_highway_mpg_ft1          38113 non-null  float64
 24  highway_mpg_ft2                    38113 non-null  int64
 25  unrounded_highway_mpg_ft2          38113 non-null  float64
 26  highway_gasoline_consumption_cd    38113 non-null  float64
 27  highway_electricity_consumption    38113 non-null  float64
 28  highway_utility_factor             38113 non-null  float64
 29  unadjusted_city_mpg_ft1            38113 non-null  float64
 30  unadjusted_highway_mpg_ft1         38113 non-null  float64
 31  unadjusted_city_mpg_ft2            38113 non-null  float64
 32  unadjusted_highway_mpg_ft2         38113 non-null  float64
 33  combined_mpg_ft1                   38113 non-null  int64
 34  unrounded_combined_mpg_ft1         38113 non-null  float64
 35  combined_mpg_ft2                   38113 non-null  int64
 36  unrounded_combined_mpg_ft2         38113 non-null  float64
 37  combined_electricity_consumption   38113 non-null  float64
 38  combined_gasoline_consumption_cd   38113 non-null  float64
 39  combined_utility_factor            38113 non-null  float64
 40  annual_fuel_cost_ft1               38113 non-null  int64
 41  annual_fuel_cost_ft2               38113 non-null  int64
 42  save_or_spend_5_year               38113 non-null  int64
 43  annual_consumption_in_barrels_ft1  38113 non-null  float64
 44  annual_consumption_in_barrels_ft2  38113 non-null  float64
 45  tailpipe_co2_ft1                   38113 non-null  int64
 46  tailpipe_co2_in_grams_mile_ft1     38113 non-null  float64
 47  tailpipe_co2_ft2                   38113 non-null  int64
 48  tailpipe_co2_in_grams_mile_ft2     38113 non-null  float64
 49  fuel_economy_score                 38113 non-null  int64
 50  ghg_score                          38113 non-null  int64
 51  ghg_score_alt_fuel                 38113 non-null  int64
 52  my_mpg_data                        38113 non-null  object
 53  x2d_passenger_volume               38113 non-null  int64
 54  x2d_luggage_volume                 38113 non-null  int64
 55  x4d_passenger_volume               38113 non-null  int64
 56  x4d_luggage_volume                 38113 non-null  int64
 57  hatchback_passenger_volume         38113 non-null  int64
 58  hatchback_luggage_volume           38113 non-null  int64
 59  alternative_fuel_technology        3047 non-null   object
 60  gasoline_electricity_blended_cd    38113 non-null  bool
 61  hours_to_charge_120v               38113 non-null  int64
 62  hours_to_charge_240v               38113 non-null  float64
 63  hours_to_charge_ac_240v            38113 non-null  float64
 64  composite_city_mpg                 38113 non-null  int64
 65  composite_highway_mpg              38113 non-null  int64
 66  composite_combined_mpg             38113 non-null  int64
 67  range_ft1                          38113 non-null  int64
 68  city_range_ft1                     38113 non-null  float64
 69  highway_range_ft1                  38113 non-null  float64
 70  city_range_ft2                     38113 non-null  float64
 71  highway_range_ft2                  38113 non-null  float64
dtypes: bool(1), float64(31), int64(28), object(12)
memory usage: 20.7+ MB

In [9]:
data.convert_dtypes() #Regolarizza tutti i NAN nel formato più appropriato al resto della colonna (0, ' ', 0.0)

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,...,hours_to_charge_240v,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,city_range_ft2,highway_range_ft2
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,<NA>,Manual 5-Speed,<NA>,9001,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,<NA>,Manual 5-Speed,<NA>,9005,(FFS) CA model,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,<NA>,Manual 5-Speed,<NA>,9002,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,<NA>,Manual 5-Speed,<NA>,9006,(FFS) CA model,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,<NA>,1830,(FFS),...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),<NA>,90,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),<NA>,52,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),<NA>,53,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),<NA>,54,SIDI; PHEV,...,3.0,0.0,29,32,30,0,0.0,0.0,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),<NA>,50,SIDI,...,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0

In [10]:
data.info() #Finale

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 72 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         38113 non-null  int64
 1   year                               38113 non-null  int64
 2   make                               38113 non-null  object
 3   model                              38113 non-null  object
 4   class                              38113 non-null  object
 5   drive                              36924 non-null  object
 6   transmission                       38102 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       38113 non-null  int64
 9   engine_descriptor                  22693 non-null  object
 10  engine_cylinders                   37977 non-null  float64
 11  engine_displacement                37979 non-null  float64
 12  turbocharger                       5239 non-null   object
 13  fuel_type                          38113 non-null  object
 14  fuel_type_1                        38113 non-null  object
 15  city_mpg_ft1                       38113 non-null  int64
 16  unrounded_city_mpg_ft1             38113 non-null  float64
 17  city_mpg_ft2                       38113 non-null  int64
 18  unrounded_city_mpg_ft2             38113 non-null  float64
 19  city_gasoline_consumption_cd       38113 non-null  float64
 20  city_electricity_consumption       38113 non-null  float64
 21  city_utility_factor                38113 non-null  float64
 22  highway_mpg_ft1                    38113 non-null  int64
 23  unrounded_highway_mpg_ft1          38113 non-null  float64
 24  highway_mpg_ft2                    38113 non-null  int64
 25  unrounded_highway_mpg_ft2          38113 non-null  float64
 26  highway_gasoline_consumption_cd    38113 non-null  float64
 27  highway_electricity_consumption    38113 non-null  float64
 28  highway_utility_factor             38113 non-null  float64
 29  unadjusted_city_mpg_ft1            38113 non-null  float64
 30  unadjusted_highway_mpg_ft1         38113 non-null  float64
 31  unadjusted_city_mpg_ft2            38113 non-null  float64
 32  unadjusted_highway_mpg_ft2         38113 non-null  float64
 33  combined_mpg_ft1                   38113 non-null  int64
 34  unrounded_combined_mpg_ft1         38113 non-null  float64
 35  combined_mpg_ft2                   38113 non-null  int64
 36  unrounded_combined_mpg_ft2         38113 non-null  float64
 37  combined_electricity_consumption   38113 non-null  float64
 38  combined_gasoline_consumption_cd   38113 non-null  float64
 39  combined_utility_factor            38113 non-null  float64
 40  annual_fuel_cost_ft1               38113 non-null  int64
 41  annual_fuel_cost_ft2               38113 non-null  int64
 42  save_or_spend_5_year               38113 non-null  int64
 43  annual_consumption_in_barrels_ft1  38113 non-null  float64
 44  annual_consumption_in_barrels_ft2  38113 non-null  float64
 45  tailpipe_co2_ft1                   38113 non-null  int64
 46  tailpipe_co2_in_grams_mile_ft1     38113 non-null  float64
 47  tailpipe_co2_ft2                   38113 non-null  int64
 48  tailpipe_co2_in_grams_mile_ft2     38113 non-null  float64
 49  fuel_economy_score                 38113 non-null  int64
 50  ghg_score                          38113 non-null  int64
 51  ghg_score_alt_fuel                 38113 non-null  int64
 52  my_mpg_data                        38113 non-null  object
 53  x2d_passenger_volume               38113 non-null  int64
 54  x2d_luggage_volume                 38113 non-null  int64
 55  x4d_passenger_volume               38113 non-null  int64
 56  x4d_luggage_volume                 38113 non-null  int64
 57  hatchback_passenger_volume         38113 non-null  int64
 58  hatchback_luggage_volume           38113 non-null  int64
 59  alternative_fuel_technology        3047 non-null   object
 60  gasoline_electricity_blended_cd    38113 non-null  bool
 61  hours_to_charge_120v               38113 non-null  int64
 62  hours_to_charge_240v               38113 non-null  float64
 63  hours_to_charge_ac_240v            38113 non-null  float64
 64  composite_city_mpg                 38113 non-null  int64
 65  composite_highway_mpg              38113 non-null  int64
 66  composite_combined_mpg             38113 non-null  int64
 67  range_ft1                          38113 non-null  int64
 68  city_range_ft1                     38113 non-null  float64
 69  highway_range_ft1                  38113 non-null  float64
 70  city_range_ft2                     38113 non-null  float64
 71  highway_range_ft2                  38113 non-null  float64
dtypes: bool(1), float64(31), int64(28), object(12)
memory usage: 20.7+ MB

In [11]:
data.to_csv("cleaned_fuel.csv", index = False)