In [ ]:
# Fattore di conversione da MPG a km/L: 1 MPG=0.425144 km/L
mpg_to_kmpl = 0.425144

In [ ]:
# Elenco delle colonne da convertire
columns_to_convert = [
    'city_mpg_ft1',
    'city_electricity_consumption',
    'highway_mpg_ft1',
    'highway_electricity_consumption',
    'unadjusted_city_mpg_ft1',
    'unadjusted_highway_mpg_ft1',
    'combined_mpg_ft1',
    'combined_electricity_consumption'
]

In [ ]:
import pandas as pd

file_path = 'fuel_cleaned.csv'
df = pd.read_csv(file_path)

# Visualizza i primi dati della colonna city_mpg_ft1
print(df['city_mpg_ft1'].head())

0    17
1    17
2    18
3    18
4    18
Name: city_mpg_ft1, dtype: int64

<ipython-input-3-94457275bd3a>:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [ ]:
for column in columns_to_convert:
    df[column] = df[column] * mpg_to_kmpl

In [ ]:
# Verifica che la conversione sia avvenuta correttamente
print(df['city_mpg_ft1'].head())

0    7.227448
1    7.227448
2    7.652592
3    7.652592
4    7.652592
Name: city_mpg_ft1, dtype: float64

In [ ]:
# Tasso di cambio da dollari a euro
usd_to_eur = 0.85

# Elenco delle colonne da convertire
columns_to_convert = [
    'annual_fuel_cost_ft1',
    'save_or_spend_5_year'
]

# Converti i valori delle colonne da USD a EUR
for column in columns_to_convert:
    df[column] = df[column] * usd_to_eur

# Visualizza i primi dati delle colonne convertite
print(df[columns_to_convert].head())

   annual_fuel_cost_ft1  save_or_spend_5_year
0                1487.5               -1700.0
1                1487.5               -1700.0
2                1402.5               -1275.0
3                1402.5               -1275.0
4                1742.5               -2975.0

In [ ]:
# La conversione è avvenuta correttamente. Salviamo il file csv
output_file_path = 'fuel_converted.csv'
df.to_csv(output_file_path, index=False)