In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("fuel_converted.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23131 entries, 0 to 23130
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         23131 non-null  int64
 1   year                               23131 non-null  int64
 2   make                               23131 non-null  object
 3   model                              23131 non-null  object
 4   class                              23130 non-null  object
 5   drive                              21942 non-null  object
 6   transmission                       23119 non-null  object
 7   transmission_type                  10971 non-null  object
 8   engine_index                       23130 non-null  float64
 9   engine_descriptor                  17075 non-null  object
 10  engine_cylinders                   23105 non-null  float64
 11  engine_displacement                23106 non-null  float64
 12  turbocharger                       1806 non-null   object
 13  fuel_type                          23130 non-null  object
 14  fuel_type_1                        23130 non-null  object
 15  city_mpg_ft1                       23130 non-null  float64
 16  city_electricity_consumption       23130 non-null  float64
 17  highway_mpg_ft1                    23130 non-null  float64
 18  highway_electricity_consumption    23130 non-null  float64
 19  unadjusted_city_mpg_ft1            23130 non-null  float64
 20  unadjusted_highway_mpg_ft1         23130 non-null  float64
 21  combined_mpg_ft1                   23130 non-null  float64
 22  combined_electricity_consumption   23130 non-null  float64
 23  annual_fuel_cost_ft1               23130 non-null  float64
 24  save_or_spend_5_year               23130 non-null  float64
 25  annual_consumption_in_barrels_ft1  23130 non-null  float64
 26  tailpipe_co2_ft1                   23130 non-null  float64
 27  tailpipe_co2_in_grams_mile_ft1     23130 non-null  float64
 28  fuel_economy_score                 23130 non-null  float64
 29  ghg_score                          23130 non-null  float64
 30  ghg_score_alt_fuel                 23130 non-null  float64
 31  my_mpg_data                        23130 non-null  object
 32  x2d_passenger_volume               23130 non-null  float64
 33  x2d_luggage_volume                 23130 non-null  float64
 34  x4d_passenger_volume               23130 non-null  float64
 35  x4d_luggage_volume                 23130 non-null  float64
 36  hatchback_passenger_volume         23130 non-null  float64
 37  hatchback_luggage_volume           23130 non-null  float64
 38  alternative_fuel_technology        1059 non-null   object
dtypes: float64(25), int64(2), object(12)
memory usage: 6.9+ MB

In [ ]:
veicoli = data[["vehicle_id", "year", "make", "model", "class", "drive", "transmission", "transmission_type", "x2d_passenger_volume", "x2d_luggage_volume", "x4d_passenger_volume", "x4d_luggage_volume", "hatchback_passenger_volume", "hatchback_luggage_volume"]]

In [ ]:
veicoli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23131 entries, 0 to 23130
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   vehicle_id                  23131 non-null  int64
 1   year                        23131 non-null  int64
 2   make                        23131 non-null  object
 3   model                       23131 non-null  object
 4   class                       23130 non-null  object
 5   drive                       21942 non-null  object
 6   transmission                23119 non-null  object
 7   transmission_type           10971 non-null  object
 8   x2d_passenger_volume        23130 non-null  float64
 9   x2d_luggage_volume          23130 non-null  float64
 10  x4d_passenger_volume        23130 non-null  float64
 11  x4d_luggage_volume          23130 non-null  float64
 12  hatchback_passenger_volume  23130 non-null  float64
 13  hatchback_luggage_volume    23130 non-null  float64
dtypes: float64(6), int64(2), object(6)
memory usage: 2.5+ MB

In [ ]:
emissioni = data[["vehicle_id", "engine_index", "engine_descriptor", "engine_cylinders", "engine_displacement", "turbocharger", "fuel_type", "fuel_type_1", "alternative_fuel_technology", "ghg_score", "ghg_score_alt_fuel"]]

In [ ]:
emissioni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23131 entries, 0 to 23130
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   vehicle_id                   23131 non-null  int64
 1   engine_index                 23130 non-null  float64
 2   engine_descriptor            17075 non-null  object
 3   engine_cylinders             23105 non-null  float64
 4   engine_displacement          23106 non-null  float64
 5   turbocharger                 1806 non-null   object
 6   fuel_type                    23130 non-null  object
 7   fuel_type_1                  23130 non-null  object
 8   alternative_fuel_technology  1059 non-null   object
 9   ghg_score                    23130 non-null  float64
 10  ghg_score_alt_fuel           23130 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.9+ MB

In [ ]:
consumi = data[["vehicle_id", "city_mpg_ft1", "city_electricity_consumption", "highway_mpg_ft1", "highway_electricity_consumption", "unadjusted_city_mpg_ft1", "unadjusted_highway_mpg_ft1", "combined_mpg_ft1", "combined_electricity_consumption", "annual_fuel_cost_ft1","save_or_spend_5_year", "annual_consumption_in_barrels_ft1", "tailpipe_co2_ft1", "tailpipe_co2_in_grams_mile_ft1", "fuel_economy_score", "my_mpg_data"]]

In [ ]:
consumi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23131 entries, 0 to 23130
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         23131 non-null  int64
 1   city_mpg_ft1                       23130 non-null  float64
 2   city_electricity_consumption       23130 non-null  float64
 3   highway_mpg_ft1                    23130 non-null  float64
 4   highway_electricity_consumption    23130 non-null  float64
 5   unadjusted_city_mpg_ft1            23130 non-null  float64
 6   unadjusted_highway_mpg_ft1         23130 non-null  float64
 7   combined_mpg_ft1                   23130 non-null  float64
 8   combined_electricity_consumption   23130 non-null  float64
 9   annual_fuel_cost_ft1               23130 non-null  float64
 10  save_or_spend_5_year               23130 non-null  float64
 11  annual_consumption_in_barrels_ft1  23130 non-null  float64
 12  tailpipe_co2_ft1                   23130 non-null  float64
 13  tailpipe_co2_in_grams_mile_ft1     23130 non-null  float64
 14  fuel_economy_score                 23130 non-null  float64
 15  my_mpg_data                        23130 non-null  object
dtypes: float64(14), int64(1), object(1)
memory usage: 2.8+ MB

In [ ]:
veicoli.to_csv("veicoli.csv", index=False)

In [ ]:
emissioni.to_csv("emissioni.csv", index=False)

In [ ]:
consumi.to_csv("consumi.csv", index=False)